In [1]:
# 예제 1번
a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [53]:
# 예제 2번
class Gizmo:
  def __init__(self):
    print('Gizmo id: %d' % id(self))

x = Gizmo()

Gizmo id: 133683482779584

In [54]:
y = Gizmo() * 10

Gizmo id: 133683482776992

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [55]:
dir()

['Bus',
 'Gizmo',
 'HauntedBus',
 'In',
 'Out',
 'TwilightBus',
 '_',
 '_1',
 '_10',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_24',
 '_25',
 '_26',
 '_27',
 '_28',
 '_30',
 '_31',
 '_32',
 '_34',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_40',
 '_41',
 '_42',
 '_44',
 '_46',
 '_47',
 '_48',
 '_5',
 '_50',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'alex',
 'b',
 'basketball_team',
 'bus',
 'bus1',
 'bus2',
 'bus3',
 'bye',
 'c',
 'charles',
 'copy',
 'ender',
 'exit',
 'f',
 'get_ipython',
 'l1',
 'l2',
 'lewis',
 'quit',
 's2',
 't',
 't1',
 't2',
 'u',
 'weakref',
 'x',
 'y']

In [4]:
# 예제 3번
charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles

In [5]:
lewis is charles

True

In [6]:
id(charles), id(lewis)

(133684366416512, 133684366416512)

In [8]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [7]:
# 예제 4번
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

False

In [9]:
alex is charles

False

In [10]:
# 예제 5번
t1 = (1,2,[30,40])
t2 = (1,2,[30,40])
t1 == t2, t1 is t2

(True, False)

In [11]:
id(t1[-1])

133684388039680

In [12]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 133684388039680)

In [13]:
t1 == t2

False

In [15]:
l1 = [3, [55,44], (7,8,9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [16]:
l2 == l1

True

In [17]:
l2 is l1

False

In [18]:
# 예제 6번
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)

In [19]:
l1.append(100)

In [20]:
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [21]:
l2[1] += [33,22]

In [22]:
l2[2] += (10,11)

print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [23]:
# 예제 7번
class Bus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [24]:
# 예제 8번
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(133684375723344, 133684375725456, 133684375716576)

In [25]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [26]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(133684373375744, 133684373375744, 133684091297152)

In [27]:
# 예제 9번
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [28]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [29]:
# 예제 10번
def f(a,b):
  a += b
  return a

In [30]:
x = 1
y = 2
f(x,y), (x, y)

(3, (1, 2))

In [31]:
a = [1,2]
b = [3,4]
f(a,b), (a, b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [32]:
t = (10,20)
u = (30, 40)
f(t,u), (t, u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [33]:
# 예제 11번
class HauntedBus:
  def __init__(self, passengers=[]):
    self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [34]:
# 예제 12번
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [35]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [36]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [37]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [38]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [39]:
bus2.passengers is bus3.passengers

True

In [40]:
bus1.passengers

['Bill', 'Charlie']

In [41]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [42]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [43]:
# 예제 13번
class TwilightBus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [44]:
# 예제 14번
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [45]:
# 예제 15번
class TwilightBus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [46]:
# 예제 16번
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [47]:
# 예제 17번
import weakref
s1 = {1, 2, 3}
s2 = s1
def bye():
  print('Gone with the wind...')

ender = weakref.finalize(s1, bye)
ender.alive

True

In [48]:
del s1
ender.alive

True

In [49]:
s2 = 'spam'

In [50]:
ender.alive

False